<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>乐淘云购后台管理系统</title>
  <!-- 引入bootstrap库 -->
  <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css">
  <!-- 引入NProgress -->
  <link rel="stylesheet" href="./lib/nprogress/nprogress.css">
  <!-- 引入表单验证插件的css -->
  <link rel="stylesheet" href="./lib/bootstrap-validator/css/bootstrapValidator.min.css">
  <!-- 引入当前页面的css -->
  <link rel="stylesheet" href="./css/admin.css">
</head>
<body>
	<!-- 侧边栏 -->
  <aside class="lt_aside">
    <!-- 商标 -->
    <div class="brand">
      <a href="./index.html">ITCAST</a>
    </div>
    <!-- 头像 -->
    <div class="user">
      <img src="./images/default.png">
      超级管理员
    </div>

    <!-- 列表管理 -->
    <div class="menu">
      <ul>
        <li>
          <a href="./userManage.html">
            <i class="glyphicon glyphicon-user"></i>用户管理
          </a>
        </li>
        <li>
          <a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <i class="glyphicon glyphicon-list"></i>分类管理
          </a>
          <div class="collapse" id="collapseExample">
              <a class="item" href="./categoryFirst.html">一级分类</a>
              <a class="item" href="./categorySecond.html">二级分类</a>
          </div>
        </li>
        <li>
          <a href="productManage.html">
            <i class="glyphicon glyphicon-tags"></i>商品管理
          </a>
        </li>
      </ul>
    </div>
  </aside>

  <!-- 右侧内容区 -->
  <section class="lt_section">
    <!-- 顶部导航栏 -->
    <div class="topnav">
      <a class="menu" data-menu href="javascript:;">
        <i class="glyphicon glyphicon-align-justify"></i>
      </a>
      <a data-logout data-toggle="modal" href="#logout-modal">
          <i class="glyphicon glyphicon-log-out"></i>
     </a>
      
    </div><!-- /.topnav -->
    <!-- 内容区 -->
    <div class="container-fluid">
      <ol class="breadcrumb">
        <li>
          <a href="#">管理系统</a>
        </li>
        <li class="active">
          分类管理
        </li>
         <li class="active">
          一级分类
        </li>
      </ol>

      <!-- 一级分类列表 -->
      <div class="lt_content">
          <a href="#first-modal" data-toggle="modal" class="btn btn-default">添加分类</a>
          <table class="table table-bordered">
              <thead>
                <tr>
                  <th>序号</th>
                  <th>分类名称</th>
                </tr>
              </thead>
              <tbody>
                <!-- 动态获取界面 -->
              </tbody>
            </table>
      </div>
      <div class="page">
        <ul class="pagination"></ul>
      </div>
    </div>
  </section>



  <div class="modal fade" id="first-modal" tabindex="-1">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">添加分类</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" id="first-form">
              <div class="form-group">
                <div class="col-sm-12">
                  <input type="text" name="categoryName" class="form-control" id="categoryName" placeholder="输入一级分类">
                </div>
              </div>
            </form>
  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" id="save" class="btn btn-primary">确定</button>
          </div>
        </div>
      </div>
    </div>
  
  <script type="text/template" id="firstTemplate">
    <% for(var i = 0; i < rows.length; i++) { %>
      <tr class="text-center">
          <td><%= (page - 1) * size + i + 1 %></td>
          <td><%= rows[i].categoryName %></td>
      </tr>
    <% } %>
  </script>
	<!-- 引入jQuery -->
  <script src="./lib/jquery/jquery.min.js"></script>
  <!-- 引入bootstrap的插件 -->
  <script src="./lib/bootstrap/js/bootstrap.min.js"></script>
  <!-- 引入echarts库 -->
  <script src="./lib/echarts/echarts.min.js"></script>
  <!-- 引入模板 -->
  <script src="./lib/artTemplate/template-native.js"></script>
  <!-- 引入表单验证的插件-->
  <script src="./lib/bootstrap-validator/js/bootstrapValidator.min.js"></script>
    <!-- 引入分页插件 -->
    <script src="./lib/bootstrap-paginator/bootstrap-paginator.min.js"></script>
  <!-- 引入进度条插件 -->
  <script src="./lib/nprogress/nprogress.js"></script>
  <!-- 引入admin文件 -->
  <script src="./js/admin.js"></script>
  <!-- 引入index文件 -->
  <script src="./js/categoryFirst.js"></script>
</body>
</html>